@font-face {
  font-family: "Torso";
  src: url("../../public/fonts/torso-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Torso";
  src: url("../../public/fonts/torso-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Torso";
  src: url("../../public/fonts/torso-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Torso";
  src: url("../../public/fonts/torso-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Torso";
  src: url("../../public/fonts/torso-ultra.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
